<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>Home page</h1>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body { font-family: Arial; text-align: center; margin-top: 100px; }
    </style>
</head>
<body>

<h1>Welcome!</h1>
<p>You are successfully logged in.</p>

</body>
</html>
</body>
</html> 